body {
  font-family: 'Open-Sans','Helvetica',sans-serif;
}

h1{
  color: #484848;
    font-family: 'Open Sans', sans-serif;
    padding-left: 20px;
    padding-top: 30px;
    padding-bottom: 20px;
    margin-right: 10px;
}

header {
  background-color: #B0B0B0;
margin-top:-21px;
margin-bottom: -23px

}
nav {
  text-align: right;
  margin-right: 25px;
  position:relative;
  top: -35px
}
a:link{
  color:#000000;
}
a:visited{
  color:#000000;
}
a:hover{
  color:white;
}
a:active{
  color:black;
}

main {
  background-color: #DCDCDC;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  margin-top:-16px;
  text-align:left;
  padding: 15px;
}

footer {
  background-color: #B0B0B0;
  font-family: 'Open Sans', sans-serif;

  margin-top:-16px;
  padding: 5px;
}

.head{
  max-height:200px;
  max-width:200px;
  border-radius: 50%;
  border: 3px solid #484848
}

.general{
border-radius:10px;
border: 3px solid #484848;
padding-left: 10px;
padding-right:10px;
margin-top:10px;
margin-bottom:20px;
}

.below{
  border-radius:10px;
  border:3px solid #484848;
  padding-left: 10px;
padding-right:10px;
margin-top:10px;
margin-bottom:20px;
}

.email{
 text-align: right;
 color:#484848;
 margin-top: -64px;
 padding-bottom: 40px;
 padding-right: 10px;
}